# Firebase Configuration
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBtcCbBOLmqsGZ_IPYIz0fhqYXTcWtlWJU
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=dbarbi-4c494.firebaseapp.com
EXPO_PUBLIC_FIREBASE_DATABASE_URL=https://dbarbi-4c494-default-rtdb.firebaseio.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=dbarbi-4c494
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=dbarbi-4c494.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=44854741850
EXPO_PUBLIC_FIREBASE_APP_ID=1:44854741850:android:acfd13df564f7265c34163

# Restaurant Configuration
EXPO_PUBLIC_DEFAULT_RESTAURANT_ID=restaurant_001